<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459247242876-p1gulpgvc9rot2p3bm4hjvntu15q4njt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459247242876-p1gulpgvc9rot2p3bm4hjvntu15q4njt</string>
	<key>API_KEY</key>
	<string>AIzaSyCL_F4_-lrYqsyCXLd8qeVh6IIW8gcqFGw</string>
	<key>GCM_SENDER_ID</key>
	<string>459247242876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TRAN-DINH-TON-HIEU.My-Chat</string>
	<key>PROJECT_ID</key>
	<string>messenger-1c34b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-1c34b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459247242876:ios:39206abed56c18b22803f9</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-1c34b.firebaseio.com</string>
</dict>
</plist>